*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
                /* Layout */

.cont-top{
    height: 60px;
}

.cont-bot{
    height: calc(100vh - 60px);
}

.cont-left{
    background-color: #12293f;
    background-image: url(/img/sidebar-bg.png);
    width: 50px;
    height: calc(100vh - 60px);     
}

.cont-right{
    width: calc(100% - 50px);
    height:calc(100vh - 60px);
}

/* Nav Bar */
nav .row{
    height: 60px;
}

nav .mobile-logo{
    width: 38px;
}

nav .logo{
    width: 140px;
}

nav .row div:last-child ul li{
    padding-right: 25px;
}

nav .row div:last-child ul li:hover{
    cursor: pointer;
}

/* Aside Bar */
aside .my-row{
    height: calc(100vh - 60px);
}

aside .my-row .my-col{
    padding: 20px 5px;
}

aside ul li{
    padding: 10px 0;
}

aside ul li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}
                /* Header */
/* New Student */
header .button-add:hover{
    background-color: white;
}
header .button-add:hover i{
    color: #165bba;
}
                /* Main */
/* table */
main .row .col-12 .my-table tr td:nth-child(n + 2),
main .row .col-12 .my-table tr th:nth-child(n + 2){
    text-align: center;
}

main .my-table tr td .my-pencil,
main .my-table tr td .my-trash{
    color: gray; 
    padding: 5px; 
    border: 1px solid gray;
}

main .my-table tr td .my-pencil,
main .my-table tr td .my-trash{
    cursor: pointer;
}

main .my-table tr td .my-pencil:hover{
    color: green;
    border-color: green;
}

main .my-table tr td .my-trash:hover{
    color: red;
    border-color: red;
}

/* todo */
main .todo-cursor input:hover{
    cursor: pointer;
}

/* Background color */
.bg-darkblue{
    background-color: #165bba;
}


@media screen and (min-width: 992px) {
    .cont-left{
        width: 150px;
    }

    .cont-right{
        width: calc(100% - 150px);
    }

    aside .my-row .my-col .container span{
        display: block;
    }
}